@keyframes fade-away {
	from {
		opacity: 1;
	} to {
		opacity: 0;
	}
}

@keyframes popup-fade-in {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

@keyframes popup-fade-out {
	from {
		opacity: 1;
	} to {
		opacity: 0;
	}
}

body.dark {
	--background: #2f2f2f;
	--border: 2pt solid #5f5f5f;
	--border-color: #5f5f5f;
	--text-color: white;
	--activated: 2pt solid white;
	--checkers: url("static/png/darkcheckers.png");
	--toolbar-color: #333;
	--tool-color: #353535;
	--imprint-color: #2f2f2f;
}

body.light {
	--background: #fdfdfd;
	--border: 2pt solid #9f9f9f;
	--border-color: #9f9f9f;
	--text-color: black;
	--activated: 2pt solid #2f2f2f;
	--checkers: url("static/png/lightcheckers.png");
	--toolbar-color: #efefef;
	--tool-color: #e9e9e9;
	--imprint-color: #cfcfcf;
}

body {
	image-rendering: pixelated;

	font-family: sans-serif;
	
	background-color: var(--background);
	color: var(--text-color);
	margin: 0.5em;
	
	/* variables */
	--padding: 10pt 10pt;
}


#main-canvas {
	touch-action: none;
	border-radius: 5pt;
	border: var(--border);
	background: var(--checkers) fixed content-box;

	position: absolute;
	top: 0.5em;
	left: calc(0.5em + 42pt);

	margin-right: 1em;
	
	image-rendering: pixelated;
}

#display-canvas {
	position: absolute;
	top: 0.5em;
	left: calc(0.5em + 42pt);


	border: rgba(0,0,0,0) 2pt solid;
	cursor: crosshair;
	touch-action: none;	
	border-radius: 5pt;
	image-rendering: pixelated;
}

button {
	padding: 2pt 4pt;
	border: var(--border);
	border-radius: 2pt;
	background-color: var(--background);
	
	color: var(--text-color);
	
	cursor: pointer;
}

button:hover {
	background-color: var(--tool-color);
} button:active {
	background-color: var(--imprint-color);
}

.loaded {
	animation: fade-away ease-in-out 1000ms 500ms forwards;
	pointer-events: none;
}

#tool-bar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 20pt;
	padding: var(--padding);
	background-color: var(--toolbar-color);
	border-right: var(--border);
	overflow: scroll;

	box-shadow: rgba(0,0,0,0.5) 0 0 5pt;
}

#tool-bar::-webkit-scrollbar {
	display: none;
}

.tool {
	background-color: var(--tool-color);
	
	width: 20pt;
	height: 20pt;
	
	padding: 0pt 0pt;
	display: inline;
	
	overflow: hidden;
	border: none;
	outline: var(--border);
	
	margin-bottom: 12pt;
	
	border-radius: 2pt;
	cursor: pointer;
	
	color: var(--text-color);
}

.tool[active] {
	outline: var(--activated);
}

#pen-info {
	border-radius: 50%;
	border-width: 2pt;
	height: 20pt;
	width: 20pt;
}

#pen-tool {
	margin-top: 1em;
}

#import-export, #canvas-settings {
	height: 20pt;
	width: 20pt;
}

#tools-divider {
	width: 20pt;
	height: 2pt;

	border-radius: 1pt;

	margin-bottom: 2pt;
	margin-top: 2pt;

	background-color: var(--border-color);
}

#loading-page {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--background);
	z-index: 100;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

#loading-page::before {
	content: "Loading Drawing Station...\a";
	font-size: 20pt;
	color: var(--text-color);
}

.popup {
	animation: popup-fade-in 200ms forwards;	

	position: fixed;
	z-index: 200;
	
	border: var(--border);
	
	background-color: var(--background);
	
	border-radius: 2pt;
	
	padding: var(--padding);

	box-shadow: rgba(0,0,0,0.5) 0 0 5pt;
}

.popup-destroy {
	animation: popup-fade-out 200ms forwards;
}

.big-popup {
	position: fixed;
	left: 50%;
	top: 50%;
	
	transform: translate(-50%, -50%);
}

/* inputs and stuff */

input[type="color"] {
	-webkit-appearance: none;
	border: var(--border);
	width: 80pt;
	height: 15pt;
	
	background-color: inherit;
	
	border-radius: 2pt;
	padding: 0 0;
	
	overflow: hidden;
		
	cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	width: 100%;
	height: 100%;
	padding: 0 0;
	
	box-sizing: content-box;
}

input[type="color"]::-webkit-color-swatch {	
	border: none;
}

input[type="range"] {
	width: 80pt;
		
	cursor: pointer;
}

.block-text {
	display: block;
	margin-bottom: 0.1em;
	margin-top: 0.2em;
}