body {
	font-family: sans-serif;
	margin: 10px;
}

button, input {
	cursor: pointer;
	border: gray solid 1px;
}

button:focus-visible, input:focus-visible {
	border: black solid 1px;
	outline: 1px black solid;
}

button:hover {
	background-color: rgb(250,250,250);
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20px 20px;
	background-color: rgba(255,255,255, 0.9);
}

.popup-title {
	width: 95%;
	height: 12%;
	font-size: 20px;
}

.popup-content {
	height: 77%;
	width: 83%;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: 1%;
}

#drawing-canvas {
	touch-action: none;
	box-shadow: none;
	border: 2px black dashed;
	image-rendering: pixelated;
	margin-left: 185px;
	margin-right: 10px;
	background: content-box fixed;
	background-image: linear-gradient(315deg, rgba(0,0,0,0.1), transparent 50%), url(STATIC/PNG/blankbackground.png);
	transition: box-shadow 0.2s;
} 
#drawing-canvas:hover {box-shadow: 5px 5px 15px 0px rgba(100,100,100,1);}
#drawing-canvas:active {
	box-shadow: 0px 0px 15px 5px rgba(100,100,100,1);
}

#tool-div {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 165px;
	padding: 10px 10px;
	background-color: rgba(240,240,240,0.8);
	border-right: 2px grey solid	;
	color: black;
}

#resize-button {
	margin-top: 10px;
}

#info-div {
	position: fixed;
	right: 5px;
	bottom: 5px;
	font-size: 13px;
	text-shadow: 0px 0px 15px 5px rgba(255,255,255,1)
}

.normal-drawing {	cursor: url(STATIC/PNG/drawcursor.png) 5 5, crosshair; }
.eraser-drawing { cursor: url(STATIC/PNG/erasercursor.png) 5 5, crosshair; }

.eraser-div {
	display: inline-block;
	height: 50px;
	margin-right: 10px;
}

.eraser-div label {
	display: block;
}

.color-div {
	display: inline-block;
	height: 50px;
	margin-right: 10px;
}

.color-div label {
	display: block;
}

.size-div {
	display: inline-block;
	height: 50px;
	margin-right: 10px;
}

.size-div label {
	display: block;
}
